resources/31march/email_notification_.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" type="xs:string" />
        <xs:element minOccurs="0" name="first_name" type="xs:string" />
        <xs:element minOccurs="0" name="last_name" type="xs:string" />
        <xs:element minOccurs="0" name="subject" type="xs:string" />
        <xs:element minOccurs="0" name="email_content" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>