resources/31march/parse_json.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="outcome" elementFormDefault="qualified" targetNamespace="outcome" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="parse_json">
        <sequence>
            <element name="ApplicationID" type="string" />
			<element name="application_Status" type="string" />
			<element name="dogID" type="int" />
        </sequence>
    </complexType>
    <element name="parse_json" type="tns:parse_json" />
</schema>